# Virtual environment
.venv/

# Database
marketdata.db
instance/

# Migrations
migrations/

# IDE specific files
.idea/

# Environment variables
.env

# Compiled Python files
__pycache__/
*.pyc
*.pyo
