{% extends 'base.html' %}

{% block title %}
    Register Page
{% endblock %}

{% block style %}
    /* Hides the navbar */
    .navbar {
        background-color: #0c0c0d;
        padding: 1rem 2rem;
        display: none;
    }

    body {
        background-size: cover;
        height: 100vh;
        margin: 0;
        overflow: hidden;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ url_for('static', filename='images/login_register_bg4.jpeg') }}');
    }

    .page-content {
        width: 100%;
        margin: 0 auto;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -o-align-items: center;
        -ms-align-items: center;
        -moz-align-items: center;
        -webkit-align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .form-v8-content {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        width: 500px;
        border-radius: 8px;
        -o-border-radius: 8px;
        -ms-border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        -o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        -ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        font-family: 'Source Sans Pro', sans-serif;
        color: #fff;
        position: relative;
        display: flex;
        display: -webkit-flex;
    }

    .form-v8-content .form-right {
        padding: 30px 0;
        position: relative;
        width: 100%;
        background: transparent;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .form-v8-content .tab {
        margin: 5px 0 48px;
        width: 100%;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        -o-justify-content: space-between;
        -ms-justify-content: space-between;
        -moz-justify-content: space-between;
        -webkit-justify-content: space-between;
    }

    .form-v8-content .tab .tab-inner {
        width: 100%;
    }

    .tablinks {
    display: inline-block;
    text-decoration: none;
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #746cff;
    padding-bottom: 22px;
    border-bottom: 3px solid #746cff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    }

    .tablinks.active {
        font-weight: 700;
        color: #a49fff;
        border-bottom-color: #5046ff;
        text-decoration: none;

    }

    .tablinks:hover {
        text-decoration: none;

    }


    .form-v8-content .form-detail {
        padding: 0 40px;
    }

    .form-v8-content .form-row {
        width: 100%;
        position: relative;
    }

    .form-v8-content .form-row .form-row-inner {
        position: relative;
        width: 100%;
    }

    .form-v8-content .form-row .form-row-inner .label {
        position: absolute;
        top: -2px;
        left: 10px;
        font-size: 18px;
        color: #aba6ff;
        font-weight: 400;
        transform-origin: 0 0;
        transition: all .2s ease;
        -moz-transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        -ms-transition: all .2s ease;
        z-index: 1;
    }

    .form-v8-content .form-row .form-row-inner .border {
        position: absolute;
        bottom: 31px;
        left: 0;
        height: 1px;
        width: 100%;
        background: #6c63ff;
        transform: scaleX(0);
        -moz-transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -o-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform-origin: 0 0;
        transition: all .15s ease;
        -moz-transition: all .15s ease;
        -webkit-transition: all .15s ease;
        -o-transition: all .15s ease;
        -ms-transition: all .15s ease;
    }

    .form-v8-content .form-detail .input-text {
        margin-bottom: 31px;
    }

    .form-v8-content .form-detail input {
        width: 100%;
        padding: 0px 10px 15px 10px;
        border: 1px solid transparent;
        border-bottom: 1px solid;
        border-bottom-color: #8c84fa;
        background: transparent;
        appearance: unset;
        -moz-appearance: unset;
        -webkit-appearance: unset;
        -o-appearance: unset;
        -ms-appearance: unset;
        outline: none;
        -moz-outline: none;
        -webkit-outline: none;
        -o-outline: none;
        -ms-outline: none;
        font-size: 18px;
        color: #e0dff0;
        font-weight: 300;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
    }

    .form-v8-content .form-detail .form-row .input-text:focus {
        border-bottom: 1px solid #5046ff;
        background: transparent;
    }


    .form-v8-content .form-detail .form-row .input-text:focus + .label,
    .form-v8-content .form-detail .form-row .input-text:not(:placeholder-shown) + .label {
        transform: translateY(-26px) scale(1);
        -moz-transform: translateY(-26px) scale(1);
        -webkit-transform: translateY(-26px) scale(1);
        -o-transform: translateY(-26px) scale(1);
        -ms-transform: translateY(-26px) scale(1);
    }


    .form-v8-content .form-detail .form-row .input-text:focus + .border,
    .form-v8-content .form-detail .form-row .input-text:valid + .border {
        transform: scaleX(1);
        -moz-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -o-transform: scaleX(1);
        -ms-transform: scaleX(1);
    }

    .form-v8-content .form-detail .register {
        background: #6c63ff;
        border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        width: 160px;
        border: none;
        margin: 5px 0 50px 0px;
        cursor: pointer;
        font-family: 'Source Sans Pro', sans-serif;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
    }

    .form-v8-content .form-detail .register:hover {
        background: #4a46d1;
    }

    .form-v8-content .form-detail .form-row-last input {
        padding: 11px;
    }

    /* Responsive */
    @media screen and (max-width: 991px) {
        .form-v8-content {
            margin: 180px 20px;
            flex-direction: column;
            -o-flex-direction: column;
            -ms-flex-direction: column;
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
        }
        .form-v8-content .form-left {
            width: 100%;
        }
        .form-v8-content .form-left img {
            width: 100%;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 8px;
        }
        .form-v8-content .form-right {
            width: auto;
            border-top-right-radius: 0;
            border-bottom-left-radius: 8px;
        }
        .form-v8-content .tab {
            margin-top: 45px;
        }
        .form-v8-content .form-detail .register {
            margin-bottom: 80px;
        }
    }

    @media screen and (max-width: 325px) {
        .form-v8-content .tab {
            flex-direction: column;
            -o-flex-direction: column;
            -ms-flex-direction: column;
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
        }
    }
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="form-v8-content">
            <div class="form-right">
                <div class="tab">
                    <div class="tab-inner">
                            <a href="{{ url_for('register_page') }}" class="tablinks active">Sign Up</a>
                        </div>
                        <div class="tab-inner">
                            <a href="{{ url_for('login_page') }}" class="tablinks">Sign In</a>
                        </div>
                    </div>

                <form class="form-detail" action="{{ url_for('register_page') }}" method="post" autocomplete="off">
                    {{ form.hidden_tag() }}
                    <div class="form-row">
                        <label class="form-row-inner">
                            {{ form.username(class_='input-text', placeholder=' ') }}
                            <span class="label">Username</span>
                            <span class="border"></span>
                        </label>
                    </div>
                    <div class="form-row">
                        <label class="form-row-inner">
                            {{ form.email_address(class_='input-text', placeholder=' ') }}
                            <span class="label">E-Mail</span>
                            <span class="border"></span>
                        </label>
                    </div>
                    <div class="form-row">
                        <label class="form-row-inner">
                            {{ form.password1(class_='input-text', placeholder=' ') }}
                            <span class="label">Password</span>
                            <span class="border"></span>
                        </label>
                    </div>
                    <div class="form-row">
                        <label class="form-row-inner">
                            {{ form.password2(class_='input-text', placeholder=' ') }}
                            <span class="label">Confirm Password</span>
                            <span class="border"></span>
                        </label>
                    </div>
                    <div class="form-row-last">
                        <input type="submit" class="register" value="Register">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
{% endblock %}

{% block author %}

{% endblock %}
